 table {
    background-color: lightgrey;
    padding: 8px;
    border-radius: 20px;
}

th, td {
    border: 2px solid lightpink;
    padding: 8px;
    text-align: left;
    font-family: monospace;
    border-radius: 20px;
    letter-spacing: -1px;;
    background-color: gainsboro;
}

h1 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px;
    border: 2px solid cadetblue;
    padding: 8px;
    background-color: gainsboro;
    border-radius: 20px;
    display: inline-flex;
}

body {
    background-color: cadetblue;
    font-family: Arial, sans-serif;
}
