table {
    background-color: lightcyan;
    padding: 2px;
    border-radius: 15px;
    border-style: inset;
    border-width: 8px;
}

th, td {
    border: 2px solid rgb(76, 83, 85);
    padding: 8px;
    text-align: left;
    font-family: monospace;
    border-radius: 15px;
    letter-spacing: -1px;
    background-color: cadetblue;
}

h1 {
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin: 12px;
    border: 2px solid rgb(76, 83, 85);
    padding: 8px;
    background-color: cadetblue;
    border-radius: 20px;
    display: inline-flex;
}

body {
    background-color: steelblue;
    font-family: Arial, sans-serif;
}
